body {background:#fff; color:#000; margin:0; padding:0; }
#rowFooter{clear:both; background:#fff; margin:0; padding:0; border-top:1px solid #000; padding-top:5px; padding-left:5px; text-align:center;}

.textFooter{font-size:10px; color:#666;align:center}

