/* class for the menu --------------------------------------*/
		
		/* first menu line */
		/*THIS IS FOR THE MENU(MANNY)*/
		ul.main_menu_over {
			z-index: 100;
			position: absolute;
			top: 2px;
			left: 60px;
			height: 80px;
			
			list-style:none;
			margin: 0;
			padding: 0;
			vertical-align: bottom;
		}
			
			ul.main_menu_over li {
				float: left;
				position: relative;
				margin: 0px 0px;
				padding: 0px;
			}
			
			ul.main_menu_over a {
				float: left;
				height: 80px;
				width: 80px;
				margin: 0px;
				padding: 1px;
				overflow: hidden;
				white-space: nowrap;
				/*font-size: 1.00em;*/
				text-align: center;
				text-decoration: none;
				color: #000;
				font-size: 0.75em;
			}
			
			ul.main_menu_over a:hover {
				padding: 0px;
				background: #e1ebf7;
				border: 1px solid #aabfe6;
			}
			
			ul.main_menu_over li.menu_open a.first_line {
				padding: 0px;
				background: #e1ebf7;
				border: 1px solid #aabfe6;
			}
			
			ul.main_menu_over a.little_link {
				float: left;
				height: 50px;
				width: 50px;
				margin: 30px 10px 0px;
				padding: 1px;
				overflow: hidden;
				white-space: nowrap;
				/*font-size: 1.00em;*/
				text-align: center;
				text-decoration: none;
				color: #000;
			}
			
			ul.main_menu_over li.menu_open a.little_link {
				padding: 0px;
				background: #e1ebf7;
				border: 1px solid #aabfe6;
			}
			
			ul.main_menu_over a.little_link:hover {
				padding: 0px;
				background: #e1ebf7;
				border: 1px solid #aabfe6;
			}
			
				ul.main_menu_over img.platform_icon {
					margin: 4px 0 0;
					padding: 0;
					width: 48px;
					height: 48px;
					border: 0px none;
				}
				
				ul.main_menu_over img.little_icon {
					margin: 4px 0 0;
					padding: 0;
					width: 22px;
					height: 22px;
					border: 0px none;
				}
			
			ul.main_menu_over li.menu_close ul {
				visibility: hidden;
			}
			
			ul.main_menu_over li.menu_open ul {
				visibility: visible;
			}
			
			ul.main_menu_over .menu_icon {
				height: 16px;
				width: 16px;
				margin: 1px 10px 1px 2px;
				padding: 0;
				vertical-align: middle;
				border: 0px none;
			}
		
		/* first orizontal menu */
		
		ul.list_modules {
			position: absolute;
			top: 81px;
			left: 0px;
			z-index: 200;
			
			margin: 0;
			padding: 0;
			list-style:none;
			width: 19em;
			border-top: 1px solid #666;
			border-bottom: 1px solid #666;
			background: url('../images/menu/back_menu.png') 0px 0px repeat-y #fff;
		}
			
			ul.list_modules li {
				float: none;
				display: block !important;
				display: inline;
				position: relative;
				margin: 0;
				padding: 0;
			}
			
			/* second orizontal menu */
			
			ul.list_modules li ul {
				position:absolute;
				top: -1px;
				left: 19em;
				margin:0 0 0 -1px;
				
				padding: 0;
				list-style:none;
				width: 19em;
				border-top: 1px solid #666;
				border-bottom: 1px solid #666;
				background: url('../images/menu/back_menu.png') 0px 0px repeat-y #fff;
			}
			
			ul.list_modules li.menu_open ul {
				visibility: visible;
			}
			
			ul.list_modules li.menu_close ul {
				visibility: hidden;
			}
		
		ul.list_modules a {
			float: none;
			display: block;
			height: 22px;
			width: auto;
			margin: 0;
			padding: 1px 0px;
			color: #444;
			/*font-size: 1.00em;*/
			text-decoration: none;
			white-space: normal;
			text-align: left;
			border-left: 1px solid #666;
			border-right: 1px solid #666;
			border-top: 0px none;
			border-bottom: 0px none;
			background: url('../images/menu/blank_left.png') 100% 50% no-repeat transparent;
		}
		
		ul.list_modules a:hover {
			padding: 0;
			background: #fff;
			border: 1px solid #215588;
			background: url('../images/menu/blank_left_hover.png') 100% 50% no-repeat #fff;
		}
		
			ul.list_modules a.arrow_left {
				background: url('../images/menu/arrow_left.png') 100% 50% no-repeat transparent;
			}
			
			ul.list_modules a.arrow_left:hover {
				background: url('../images/menu/arrow_left_hover.png') 100% 50% no-repeat #fff;
			}
		
		ul.list_modules .menu_icon {
			height: 22px;
			width: 22px;
			margin: 0px 10px 0px 2px;
			padding: 0;
			vertical-align: middle;
			border: 0px none;
		}