.ajax__calendar_container {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; WIDTH: 170px; CURSOR: default; PADDING-TOP: 4px; FONT-FAMILY: tahoma,verdana,helvetica; POSITION: absolute; TEXT-ALIGN: center
}
.ajax__calendar_body {
	MARGIN: auto; OVERFLOW: hidden; WIDTH: 170px; POSITION: relative; HEIGHT: 139px
}
.ajax__calendar_days {
	LEFT: 0px; MARGIN: auto; WIDTH: 170px; POSITION: absolute; TOP: 0px; HEIGHT: 139px; TEXT-ALIGN: center
}
.ajax__calendar_months {
	LEFT: 0px; MARGIN: auto; WIDTH: 170px; POSITION: absolute; TOP: 0px; HEIGHT: 139px; TEXT-ALIGN: center
}
.ajax__calendar_years {
	LEFT: 0px; MARGIN: auto; WIDTH: 170px; POSITION: absolute; TOP: 0px; HEIGHT: 139px; TEXT-ALIGN: center
}
.ajax__calendar_container TABLE {
	FONT-SIZE: 11px
}
.ajax__calendar_header {
	WIDTH: 100%; HEIGHT: 20px
}
.ajax__calendar_prev {
	BACKGROUND-POSITION: 50% 50%; FLOAT: left; BACKGROUND-IMAGE: url(../index_files/left.gif); WIDTH: 15px; CURSOR: pointer; BACKGROUND-REPEAT: no-repeat; HEIGHT: 15px
}
.ajax__calendar_next {
	BACKGROUND-POSITION: 50% 50%; FLOAT: right; BACKGROUND-IMAGE: url(../index_files/right.gif); WIDTH: 15px; CURSOR: pointer; BACKGROUND-REPEAT: no-repeat; HEIGHT: 15px
}
.ajax__calendar_title {
	FONT-WEIGHT: bold; CURSOR: pointer
}
.ajax__calendar_footer {
	HEIGHT: 15px
}
.ajax__calendar_today {
	CURSOR: pointer; PADDING-TOP: 3px; color:#FF0000
}
.ajax__calendar_dayname {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; WIDTH: 17px; PADDING-TOP: 0px; HEIGHT: 17px; TEXT-ALIGN: right
}
.ajax__calendar_day {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; WIDTH: 18px; CURSOR: pointer; PADDING-TOP: 0px; HEIGHT: 17px; TEXT-ALIGN: right
}
.ajax__calendar_month {
	OVERFLOW: hidden; WIDTH: 40px; CURSOR: pointer; HEIGHT: 44px; TEXT-ALIGN: center
}
.ajax__calendar_year {
	OVERFLOW: hidden; WIDTH: 40px; CURSOR: pointer; HEIGHT: 44px; TEXT-ALIGN: center
}
.ajax__calendar .ajax__calendar_container {
	BORDER-RIGHT: #646464 1px solid; BORDER-TOP: #646464 1px solid; BORDER-LEFT: #646464 1px solid; COLOR: #000000; BORDER-BOTTOM: #646464 1px solid; BACKGROUND-COLOR: #ffffff
}
.ajax__calendar .ajax__calendar_footer {
	BORDER-TOP: #f5f5f5 1px solid
}
.ajax__calendar .ajax__calendar_dayname {
	BORDER-BOTTOM: #f5f5f5 1px solid
}
.ajax__calendar .ajax__calendar_day {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid
}
.ajax__calendar .ajax__calendar_month {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid
}
.ajax__calendar .ajax__calendar_year {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid
}
.ajax__calendar .ajax__calendar_active .ajax__calendar_day {
	BORDER-LEFT-COLOR: #0066cc; BORDER-BOTTOM-COLOR: #0066cc; COLOR: #0066cc; BORDER-TOP-COLOR: #0066cc; BACKGROUND-COLOR: #edf9ff; BORDER-RIGHT-COLOR: #0066cc
}
.ajax__calendar .ajax__calendar_active .ajax__calendar_month {
	BORDER-LEFT-COLOR: #0066cc; BORDER-BOTTOM-COLOR: #0066cc; COLOR: #0066cc; BORDER-TOP-COLOR: #0066cc; BACKGROUND-COLOR: #edf9ff; BORDER-RIGHT-COLOR: #0066cc
}
.ajax__calendar .ajax__calendar_active .ajax__calendar_year {
	BORDER-LEFT-COLOR: #0066cc; BORDER-BOTTOM-COLOR: #0066cc; COLOR: #0066cc; BORDER-TOP-COLOR: #0066cc; BACKGROUND-COLOR: #edf9ff; BORDER-RIGHT-COLOR: #0066cc
}
.ajax__calendar .ajax__calendar_other .ajax__calendar_day {
	BORDER-LEFT-COLOR: #ffffff; BORDER-BOTTOM-COLOR: #ffffff; COLOR: #C7D0E9; BORDER-TOP-COLOR: #ffffff; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-COLOR: #ffffff
}
.ajax__calendar .ajax__calendar_other .ajax__calendar_year {
	BORDER-LEFT-COLOR: #ffffff; BORDER-BOTTOM-COLOR: #ffffff; COLOR: #646464; BORDER-TOP-COLOR: #ffffff; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-COLOR: #ffffff
}
.ajax__calendar .ajax__calendar_hover .ajax__calendar_day {
	BORDER-LEFT-COLOR: #daf2fc; BORDER-BOTTOM-COLOR: #daf2fc; COLOR: #0066cc; BORDER-TOP-COLOR: #daf2fc; BACKGROUND-COLOR: #edf9ff; BORDER-RIGHT-COLOR: #daf2fc
}
.ajax__calendar .ajax__calendar_hover .ajax__calendar_month {
	BORDER-LEFT-COLOR: #daf2fc; BORDER-BOTTOM-COLOR: #daf2fc; COLOR: #0066cc; BORDER-TOP-COLOR: #daf2fc; BACKGROUND-COLOR: #edf9ff; BORDER-RIGHT-COLOR: #daf2fc
}
.ajax__calendar .ajax__calendar_hover .ajax__calendar_year {
	BORDER-LEFT-COLOR: #daf2fc; BORDER-BOTTOM-COLOR: #daf2fc; COLOR: #0066cc; BORDER-TOP-COLOR: #daf2fc; BACKGROUND-COLOR: #edf9ff; BORDER-RIGHT-COLOR: #daf2fc
}
.ajax__calendar .ajax__calendar_hover .ajax__calendar_title {
	COLOR: #0066cc
}
.ajax__calendar .ajax__calendar_hover .ajax__calendar_today {
	COLOR: #0066cc
}
